body {
    background-color: beige;
    color:black;
}

#quote-button-background {
    background-color: chocolate;
    margin:50px;
    padding:20px;
}

#blockquote , #author{
    margin:30px;
    padding:20px;
}