<<<<<<< HEAD
body{
    background-color: lightgrey;
}
.addquestion{
    display: None;
    background-color: grey;
}
=======
body{
    background-color: lightgrey;
}
.addquestion{
    display: None;
    background-color: grey;
}
>>>>>>> e1d8d8a86d7c07e71c88b56fbb5aa7b0799d91e6
